# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore node_modules
node_modules/

# Ignore build and dist files
build/
dist/

# Ignore logs and temp files
logs/
tmp/
*.log
*.tmp

# Ignore package files
package-lock.json
yarn.lock

# Ignore editor backup files
.*.swp
.*.swo
.*.swn

# Ignore other miscellaneous files
*.env
*.env.*
*.env.local
*.env.development
*.env.production
*.env.test
coverage/
report/